.enquire-card {
  width: 480px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}
.enquire-card h1 {
  font-size: 20px;
  margin-bottom: 30px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input:not(:first-child) {
  margin-top: 20px;
}
.form-group textarea {
  margin-top: 20px;
}
.form-group input {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid #b0b0b0;
  color: #333;
}
.form-group input::placeholder {
  color: #b0b0b0;
}
.form-group textarea {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid #b0b0b0;
  color: #333;
}
.form-group textarea::placeholder {
  color: #b0b0b0;
}
.btn-enquire {
  margin-top: 30px;
  margin-left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #ff5d2c;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .enquire-card {
    width: 100%;
  }
}
