@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Shizuru&display=swap");
@font-face {
  font-family: "brightsight";
  src: local("brightsight"), url(./fonts/brightsight.ttf) format("truetype");
}
@font-face {
  font-family: "Shizuru";
  src: local("Shizuru"), url(./fonts/Shizuru.ttf) format("truetype");
}
.App {
  overflow-x: hidden;
}
