.blog-card {
  width: 380px;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 80px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.blog-card:hover {
  transform: translateY(-3px);
}
.blog-card img {
  margin-bottom: 0;
}
.hr {
  width: 100%;
  height: 10px;
  background: #ff5d2c;
  margin-top: -7px;
}
.blog-card-content {
  padding: 15px;
}
.blog-card-content h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.blog-card-content p {
  margin-top: 20px;
  font-size: 14px;
  color: #626262;
}
